html {
	font-family: 'Courier New', Courier, monospace;
	background-color: rgb(37, 37, 37);
	color: white;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.edit-buttons {
	display: flex;
	justify-content: space-around;
}

.edit-buttons button {
	width: 20% !important;
	padding: 10px 20px;
	min-width: 110px;
	gap: 24px;
}

.logout-button {
	width: 25% !important;
	align-self: center;
	padding: 10px 20px;
}

fieldset {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 20px;
}

input {
	margin-left: 30px;
}

legend {
	font-size: 2rem;
	font-weight: bold;
}

.clicked {
	background-color: rgb(73, 73, 73);
	color: white;
}

li {
	list-style-type: square;
	margin: 10px;
}

.marked {
	text-decoration: line-through;
	color: rgb(100, 100, 100);
	list-style-type: none;
}

.nav-link {
	margin: 20px;
	color: rgb(6, 6, 104);
	text-decoration: underline;
}

footer {
	position: absolute;
	color: rgb(100, 100, 100);
	bottom: 0;
}

.login,
.signup {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.login a,
.signup a,
.list a {
	text-decoration: none;
	color: aquamarine;
}
.login a:hover,
.signup a:hover,
.list a:hover {
	cursor: pointer;
}
.login input,
.signup input {
	float: right;
}
.login button,
.signup button,
.list button {
	width: 65%;
	position: relative;
	margin: auto;
	background-color: black;
	border-radius: 4em;
	font-size: 16px;
	color: white;
	cursor: pointer;
	user-select: none;
	text-align: center;
	text-decoration: none;
	transition: all 0.75s ease-in-out;
}

.login button:hover,
.signup button:hover,
.list button:hover {
	transition: all 0.75s ease-in-out;
	background-color: #1f1f1f;
}

.login button:after,
.signup button:after,
.list button:after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 4em;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.5s;
	box-shadow: 0 0 5px 15px white;
}

.login button:active:after,
.signup button:active:after,
.list button:active:after {
	box-shadow: 0 0 0 0 white;
	position: absolute;
	border-radius: 4em;
	left: 0;
	top: 0;
	opacity: 1;
	transition: 0s;
}

.login button:active,
.signup button:active,
.list button:active {
	top: 1px;
}
